{% load static %}
<section class="ftco-section ftco-no-pt ftco-no-pb" id="about">
   <div class="container">
      <div class="row d-flex no-gutters">
         <div class="col-md-6 d-flex order-md-last">
            <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0">
               <img class="mt-4" src="{% static 'images/resize.jpeg' %}" alt="">
            </div>
         </div>
         <div class="col-md-6 pr-md-5 py-md-5">
            <div class="row justify-content-start py-5">
               <div class="col-md-12 heading-section ftco-animate">
                  <span class="subheading">Welcome to Remote Health</span>
                  <h2 class="mb-4">About REMOTE HEALTH</h2>
                  <p class="abt">Noncommunicable diseases (NCDs) kill 41 million people each year, equivalent to 74% of all deaths
                     globally. In Odisha also non-communicable disease like heart disease, stroke, cancer, diabetes and
                     chronic lung disease causes deaths of many people. It may be because of lack of knowledge or lack
                     of facilities provide in time. So that we have designed a web site which helps the people to check
                     out nearby health care facility/service . People can check if there is a health care is near their
                     location and the facilities provide by that particular healthcare. It also provides the listing
                     quality of health care service by tagging nearby healthcare facilities. This project can also
                     display personal health care profile and suggestive health tips in which one can see the status of
                     his/her health so that one can stay aware and conscious about their health.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>